html,
body {
  height: 100%;
  align-items: center;
}

.select_background {
    background-color: white;
}

.emblem{
    margin-top: 50px;
    margin-bottom: 50px;
}

.a_author {
    right: 800px;
    position: absolute;
    color: red;
}

.for_table {
    width: 875px !important;
}

.table {
    width: 100%;
}

.col_min {
    max-width: 150px !important;
}

.col_min {
    min-width: 150px !important;
}

.avatar {
    border-radius: 4px;
}

.sign_up_button {
    background-color: #f5f5f5;
    color: #0074fc;
}

.message {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.access {
    border: 2px solid green;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.status_access {
    color: #00ff00;
}

.status_not_access {
    color: #ff1439;
}

.sign_in_button {
    background-color: #0074fc;
}

.sign_in_button:hover {
    background-color: #f5f5f5;
    color: #0074fc;
}

.repeat-password {
    margin-top: -11px;
}

.body-signin {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.body-home {
    background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.d-block-themes {
  margin-right: 110px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

li {
    margin-bottom: 1em; /* Расстояние снизу */
    line-height: 1;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #ffe0a6;
}

/* Hover */
.form_radio_btn label:hover {
    color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}